h5 {
  color: #434d56;
  text-align: center;
  margin: 20px;
  padding: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
}

button {
  color: white;
  text-decoration: none;
  border-radius: 10px;
  background-color: #e7debd;
  border-color: white;
}

.geoLocation {
  padding: 20px;
  font-size: 20px;
  color: #434d56;
  text-align: left;
}

.card {
  width: 99%;
  padding: 1px;
  margin: 4.3px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.4);
}

.card:hover {
  background: rgba(231, 222, 189, 0.8);
}

.col-2 {
  padding: 1px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.4);
}

.col-2:hover {
  background: rgba(231, 222, 189, 0.8);
}

.smallIcons {
  display: block;
  margin: auto;
}
