p {
  color: #434d56;
  text-align: center;
  padding: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 12px;
}

.description::first-letter {
  text-transform: capitalize;
}
